{% extends 'layouts/auth.html.twig' %}

{% block title %}Tranquility - Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    <p>Welcome to Tranquility. Please enter your email address and password to get started.</p>

    <fieldset>

        {{ form_start(login_form) }}
            {{ form_errors(login_form)}}

            {{ form_row(login_form.username) }}
            {{ form_row(login_form.password) }}
            {{ form_row(login_form.remember) }}

            <div class="form-group">
                <button type="submit" class="btn btn-primary form-control">Login</button>
                <hr />
                <a href="">Forgotten your password?</a>
            </div>
            {{ form_rest(login_form) }}
        {{ form_end(login_form) }}
    </fieldset>
{% endblock %}